* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Night-: #0a0a0a;
  --AntiFlash-White-: #ededed;
  --Office-Green-: #006400;
  --Maroon-: #800000;
  --Platinum-: #e0e0e0;
  --Font-: "Roboto", sans-serif;
  background-color: var(--Night-);
  font-family: var(--Font-);
  color: var(--AntiFlash-White-);
}